body{
  font-family: Arial, sans-serif;
  background:#ffffff;
  margin:0;
}

header{
  background:#0AA84F;
  color:white;
  padding:15px;
  text-align:center;
}

main{
  padding:20px;
}

label{
  display:block;
  margin-top:10px;
}

input{
  width:100%;
  padding:10px;
  margin-top:5px;
}

.price{
  margin-top:15px;
  font-size:18px;
}

button{
  margin-top:15px;
  background:#0AA84F;
  color:white;
  border:none;
  padding:12px;
  width:100%;
  font-size:16px;
}
